<h1>Posez votre question</h1>

<form [formGroup]="questionForm" (ngSubmit)="saveQuestion()"> 
    <div class="mb-3">
        <label for="contenu" class="form-label">Contenu de la question</label>
        <input type="text" class="form-control" id="contenu" formControlName="contenu" required="true" [(ngModel)]="contenu">
    </div>
    <div class="mb-3">
        <label for="idG" class="form-label">id du gérant</label>
        <input type="text" class="form-control" id="idG" formControlName="idG" required="true" [(ngModel)]="idG">
    </div>
    <div class="mb-3">
        <label for="idC" class="form-label">Votre id</label>
        <input type="text" class="form-control" id="idC" formControlName="idC" required="true" [(ngModel)]="idC">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
</form>
