#btn-gerant{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
  
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
  
    text-align: center;
  }