<p>valider-utilisateur works!</p>

<p>Liste des administrateurs en attente de validation</p>
<table class="liste">
    <thead>
        <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Login</th>
            <th>Mdp</th>
            <th>Mail</th>
            <th>Agence immobilière</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of listeA$ | async">
            <td>{{a.id}}</td>
            <td>{{a.nom}}</td>
            <td>{{a.prenom}}</td>
            <td>{{a.login}}</td>
            <td>{{a.mdp}}</td>
            <td>{{a.mail}}</td>
            <td>{{a.agence_immobiliere}}</td>
            <td><button (click)="validerAdmin(a, a.id)">Valider</button> <button (click)="supprimerAdmin(a.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>
<p>Liste des gérants en attente de validation</p>
<table class="liste">
    <thead>
        <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Login</th>
            <th>Mdp</th>
            <th>Mail</th>
            <th>Agence immobilière</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let g of listeG$ | async">
            <td>{{g.id}}</td>
            <td>{{g.nom}}</td>
            <td>{{g.prenom}}</td>
            <td>{{g.login}}</td>
            <td>{{g.mdp}}</td>
            <td>{{g.mail}}</td>
            <td>{{g.agence_immobiliere}}</td>
            <td><button (click)="validerGerant(g, g.id)">Valider</button> <button (click)="supprimerGerant(g.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>
<p>Liste des clients en attente de validation</p>
<table class="liste">
    <thead>

        <tr>
            <th>id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Login</th>
            <th>Mdp</th>
            <th>Mail</th>
            <th>Agence immobilière</th>
            <th>Adresse</th>
            <th>Téléphone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of listeC$ | async">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.login}}</td>
            <td>{{c.mdp}}</td>
            <td>{{c.mail}}</td>
            <td>{{c.agence_immobiliere}}</td>
            <td>{{c.adresse}}</td>
            <td>{{c.telephone}}</td>
            <td><button (click)="validerClient(c, c.id)">Valider</button> <button (click)="supprimerClient(c.id)">Supprimer</button></td>
        </tr>
    </tbody>
</table>