<div style="color: antiquewhite; margin: 5%; text-align: center; margin-left: 15em; margin-right: 15em;">
    <h1>Posez votre question</h1>
    <form [formGroup]="questionForm" (ngSubmit)="saveQuestion()" > 
        <br>
        <div class="mb-3">
            <label for="idGerant" class="form-label">Selectionner un gerant à contacter</label>
            <select  id="idGerant" formControlName="idGerant" class="form-select" style="text-align: center;">
                <option [ngValue]="null" disabled>Selectionner un gérant</option>
                <option *ngFor="let g of listeGerants$ | async" [ngValue]="g.id">M. {{g.prenom}} {{g.nom}}</option>
            </select>
        </div><br>
        <div class="mb-3">
            <label for="contenu" class="form-label">Contenu de la question</label>
            <input type="text" class="form-control" id="contenu" formControlName="contenu" required="true" style="text-align: center;">
        </div><br>
        
        <div>
            <button type="submit" class="btn btn-outline-light">Valider</button>
        </div>
    </form>
    <br><br>
    <h1>Liste de vos questions</h1>

    <table class="table" style=" color: antiquewhite;text-align: center; align-items: normal;">
        <thead style="border-color: antiquewhite;border-width: 3px;margin: auto;">
          <tr>
            <th scope="col">id de la question</th>
            <th scope="col">id du gérant</th>
            <th scope="col">Question</th>
            <th scope="col">Reponse</th>
          </tr>
        </thead>
        <tbody *ngFor="let q of listeQuestion$ | async" style="border-color: antiquewhite;border-width: 3px;margin: auto;">
            <tr *ngIf="q.idC == idCompte">
              <th scope="row">{{q.id}}</th>
              <td>{{q.idG}}</td>
              <td>{{q.contenu}}</td>
              <td>{{q.reponse}}</td>
            </tr>
        </tbody>
      </table>

</div>


