<div style="margin: 5%;color: antiquewhite;">
    <h1>Posez votre question</h1>
</div>
<div class="row"
    style=" color: rgb(43, 16, 3); text-align: center;margin: auto; background-color: rgba(250, 235, 215, 0.825);width: 50%;">
    <form [formGroup]="questionForm" (ngSubmit)="saveQuestion()">
        <br>
        <div class="mb-3">
            <label for="idGerant" class="form-label"><b>Selectionner un gerant à contacter</b></label>
            <select id="idGerant" formControlName="idGerant" class="form-select" style="margin: auto;width: 250px;">
                <option [ngValue]="null" disabled>Selectionner un gérant</option>
                <option *ngFor="let g of listeGerants$ | async" [ngValue]="g.id">M. {{g.prenom}} {{g.nom}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="contenu" class="form-label"> <b>Contenu de la question</b></label>
            <input type="text" class="form-control" id="contenu" formControlName="contenu" required="true"
                style="text-align: center;height: 150px;">
        </div><br>
        <div>
            <button type="submit">Valider</button>
            <br><br>
        </div>
    </form>
    <br><br>
    <h1>Liste de vos questions</h1>

    <table class="table" style=" color: rgb(0, 0, 0);text-align: center; align-items: normal;">
        <thead style="border-color: rgb(255, 255, 255);border-width: 3px;margin: auto;">
          <tr>
            <th scope="col">id de la question</th>
            <th scope="col">id du gérant</th>
            <th scope="col">Question</th>
            <th scope="col">Reponse</th>
          </tr>
        </thead>
        <tbody *ngFor="let q of listeQuestion$ | async" style="border-color: rgb(255, 255, 255);border-width: 3px;margin: auto;">
            <tr *ngIf="q.idC == idCompte">
              <th scope="row">{{q.id}}</th>
              <td>{{q.idG}}</td>
              <td>{{q.contenu}}</td>
              <td>{{q.reponse}}</td>
            </tr>
        </tbody>
      </table>

</div>
