<div style="margin: 5%;">
  <h1 style="color: white; text-align: center;">Liste des clients</h1><br><br>

  <table class="table" style="color: white; text-align: center;">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Login</th>
        <th scope="col">Mdp</th>
        <th scope="col">Mail</th>
        <th scope="col">Agence immobilière</th>
        <th scope="col">Adresse</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of listeC$ | async">
        <td scope="row">{{c.id}}</td>
        <td>{{c.nom}}</td>
        <td>{{c.prenom}}</td>
        <td >{{c.login}}</td>
        <td >{{c.mdp}}</td>
        <td >{{c.mail}}</td>
        <td >{{c.agence_immobiliere}}</td>
        <td >{{c.adresse}}</td>
        <td >{{c.telephone}}</td>
        <td><button type="button" class="btn btn-outline-light position-relative" (click)="proposerOffre(c.id)">Proposer offres</button></td>
      </tr>
      
    </tbody>
  </table> 
</div>
