<div style="margin: 5%;color: antiquewhite;">
  <h1 >Liste des clients</h1><br><br>

  <table class="table table-hover" style=" color: antiquewhite;text-align: center; align-items: normal;">
    <thead  style="border-color: antiquewhite;border-width: 3px;margin: auto;">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Login</th>
        <th scope="col">Mdp</th>
        <th scope="col">Mail</th>
        <th scope="col">Agence immobilière</th>
        <th scope="col">Adresse</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody  style="border-color: antiquewhite;border-width: 3px;margin: auto;">
      <tr *ngFor="let c of listeC$ | async">
        <td scope="row">{{c.id}}</td>
        <td>{{c.nom}}</td>
        <td>{{c.prenom}}</td>
        <td>{{c.login}}</td>
        <td>{{c.mdp}}</td>
        <td>{{c.mail}}</td>
        <td>{{c.agence_immobiliere}}</td>
        <td>{{c.adresse}}</td>
        <td>{{c.telephone}}</td>
        <!--Admin-->
        <td scope="col">
          <button *ngIf="role == 'admin'" type="submit" (click)="supprimerClient(c.id)"> Supprimer</button>
          <button *ngIf="role == 'admin'" type="submit" (click)="modifierClient(c.id)"> Modifier</button>
          <!--Gerant-->
          <button *ngIf="role == 'gerant'" type="button" (click)="proposerListeOffres(c.id)">Proposer des offres</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>