<p>propositions-gerant works!</p>

<button  *ngIf="connecte == 'true'" >Afficher liste clients</button>       
ID du client :  <input type="text" [(ngModel)]="idClient" type="text"  name="idClient" required="required" > 
Proposer cette liste d'offres <button  *ngIf="connecte == 'true'" (click)="proposerListeOffres(idClient)">Envoyer au client {{idClient}}</button>
  
<table class="table"  *ngIf="connecte == 'true'" >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Type de bien</th>
        <th scope="col">Adresse</th>
        <th scope="col">Ville</th>
        <th scope="col">Prix</th>
        <th scope="col">Surface</th>
        <th scope="col">Nombre de pièce</th>
        <th scope="col">Meublé</th>
        <th scope="col">Achat (false=location)</th>
        <th scope="col">Exterieur disponible</th>
        <th scope="col">Croquis</th>
        <th scope="col">Note</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of listePropositions$ | async">
        <th scope="row">{{o.id}}</th>
        <td>{{o.type_bien}}</td>
        <td>{{o.adresse}}</td>
        <td>{{o.ville}}</td>
        <td>{{o.prix}}€</td>
        <td>{{o.surface}}m2</td>
        <td>{{o.nb_piece}}</td>
        <td>{{o.meuble}}</td>
        <td>{{o.achat}}</td>
        <td>{{o.exterieur}}</td>
        <td><img src = "{{o.croquis}}" width="25%"> </td>
        <td>{{o.note}}/5</td>
        <td>
          <button (click)="modifierOffre(o.id)" >Modifier</button>
          <button (click)="deleteProposition(o.id)">Retirer</button>
          <button (click)="proposerOffre(o.id,idClient)">Proposer au client {{idClient}}</button>
          
        </td>
      </tr>
    </tbody>
  </table>