<div style="margin: 5%;color: antiquewhite;">
  <h1>Modifier offre - Ajouter un croquis</h1></div>
  <div class="row" style=" color: rgb(43, 16, 3); text-align: center;margin-left: 25em; margin-right: 15em; background-color: antiquewhite;width: 60%;" >
    <div *ngIf="offreForm">
    <form [formGroup]="offreForm" (ngSubmit)="updateOffre()" >
      <div class="col">
        <br><br>
        <label for="type_bien" class="form-label"><b>Type de bien</b></label>
      <input type="text" class="form-control" name="type_bien" formControlName="type_bien" style="text-align: center;">
    </div>
    <br><br>
      <div class="col">
        <label for="adresse" class="form-label"><b>Adresse</b></label>
        <input type="text" class="form-control" formControlName="adresse"  style="text-align: center;">
      </div><br><br>
      <div class="col">
        <label for="ville" class="form-label"><b>Ville</b></label>
        <input type="text" class="form-control" formControlName="ville"  style="text-align: center;">
      </div><br><br>
      <div class="col">
        <label for="prix" class="form-label"><b>Prix</b></label>
        <input type="number" class="form-control" formControlName="prix"  style="text-align: center;">
      </div><br><br>
      <div class="col">
        <label for="surface" class="form-label"><b>Surface (en m2)</b> </label>
        <input type="number" class="form-control" formControlName="surface"  style="text-align: center;">
      </div><br><br>
      <div class="col">
        <label for="nb_piece" class="form-label"><b>Nombre de pièce</b></label>
      <input type="number" class="form-control" formControlName="nb_piece" style="text-align: center;">
    </div><br><br>
    <div class="col">
      <label for="meuble" class="form-label" style="text-align: center;"><b>Aménagement :</b></label>
      <label for="achat" class="form-label" style="margin-right: 25%; margin-left: 25%;"><b>Offre :</b></label>
      <label for="exterieur" class="form-label" style="margin-right: 5%;"><b>Exterieur :</b></label>
    </div>
    <div class="col" style="margin-right: 5%;">
        
      <input type="radio" class="form-control" class="reinitialise" formControlName="meuble" value="true" style="margin-right: 1%;">Meublé
      <input type="radio" class="form-control" class="reinitialise" formControlName="meuble" value="false" style="margin-left: 1%; margin-right: 1%;">Non meublé
      
      <input type="radio" class="form-control" class="reinitialise" formControlName="achat" value="true" style="margin-left: 15%; margin-right: 1%;">Achat
      <input type="radio" class="form-control" class="reinitialise" formControlName="achat" value="false" style="margin-left: 1%; margin-right: 1%;">Location
      
      <input type="radio" class="form-control" class="reinitialise" formControlName="exterieur" value="true" style="margin-left: 15%; margin-right: 1%;">Présent
      <input type="radio" class="form-control" class="reinitialise" formControlName="exterieur" value="false" style="margin-left: 1%; margin-right: 1%;">Absent
    </div><br><br>
      <div class="col">
        <label for="croquis" class="form-label"><b>Lien du croquis</b></label>
        <input type="text" class="form-control" formControlName="croquis"  style="text-align: center;"> <br>

        <button type="submit"  style="width: 15%;">Valider</button>
      </div><br><br>
    </form>
  </div>
</div>