.h{
        text-align: center;
        color: antiquewhite;
        width: 100em;
        font-weight: bold;
        margin: 5%; 
}
.form-check-label{
    text-align: center;
    display: flex;
    color: antiquewhite;
}
.table{
    text-align: center;
    color: antiquewhite;
}